* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  background-color: aliceblue;
}

main {
  margin: 0 15vw 0 15vw;
}
footer {
  margin: 0 15vw 0 15vw;
  background-color: lightgray;
}

header {
  position: sticky;
  top: 0;
  background-color: black;
  color: #fff;
  height: 65px;
  margin-bottom: 10vh;
}

.logo {
  height: 30px;
  margin-left: 5%;
}
#header-img {
  width: 70px;
  position: relative;
}

h1 {
  display: inline-block;
  position: absolute;
  top: 20%;
  left: 11%;
}

nav {
  position: absolute;
  right: 5%;
  bottom: 35%;
}

li {
  list-style: none;
  display: inline-block;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  margin-left: 50px;
}

form {
  text-align: center;
}

#email {
  margin: 15px 0;
}

#submit {
  background-color: greenyellow;
  padding: 5px 20px;
  border-radius: 1.5px;
}

#services {
  display: grid;
  grid-template-columns: 50px 50px auto;
}
.fa-fire-flame-curved {
  grid-column: 1;
  grid-row: 1/4;
  font-size: 2.5rem;
  margin-top: 20px;
  margin-left: 15px;
  color: green;
}
.title1 {
  grid-column: 3;
  grid-row: 1;
}
.para1 {
  grid-column: 3;
  grid-row: 3;
  margin-top: 10px;
  margin-bottom: 20px;
}

.fa-truck-fast {
  grid-column: 1;
  grid-row: 4/7;
  font-size: 2.5rem;
  margin-top: 20px;
  margin-left: 15px;
  color: green;
}
.title2 {
  grid-column: 3;
  grid-row: 4;
}
.para2 {
  grid-column: 3;
  grid-row: 6;
  margin-top: 10px;
  margin-bottom: 20px;
}

.fa-eye {
  grid-column: 1;
  grid-row: 7/10;
  font-size: 2.5rem;
  margin-top: 20px;
  margin-left: 15px;
  color: green;
}
.title3 {
  grid-column: 3;
  grid-row: 7;
}
.para3 {
  grid-column: 3;
  grid-row: 9;
  margin-top: 10px;
  margin-bottom: 20px;
}
#product {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.package {
  width: 32%;
  border: 1px solid #000;
  height: 270px;
}

# footer {
  text-align: right;
}
